---
import Layout from '../layouts/layout.astro';
import Header from '../components/header.astro';
import Experience from '../components/experience.astro';
import Projects from '../components/projects.astro';
import Certifications from '../components/certifications.astro';
import Skills from '../components/skills.astro';
---

<Layout title="CV de Diego Pacheco">

	<Header />

	<div class="space-y-16 mt-16">
		<Experience />
		<Projects />
		<Certifications />
		<Skills />
	</div>

</Layout>