---
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="es">
  <body class="bg-black text-white min-h-screen">
    <h1 class="text-green-400 text-4xl">
      Ahora sí debería verse
    </h1>
    <slot />
  </body>
</html>
