# Dependencias (Nunca se suben)
node_modules/

# Archivos de construcción (Se generan automáticamente)
dist/

# Entorno y Secretos (¡SEGURIDAD!)
.env
.env.*
.env
.env.*
key.json

# Archivos de Sistema y Editor (Basura)
.DS_Store
.vscode/
.idea/
Thumbs.db

# Logs de errores
npm-debug.log*
yarn-debug.log*
yarn-error.log*