name: Deploy to Cloud Run

on:
  push:
    branches:
      - main

env:
  # Configuración de proyecto GCP
  PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
  REGION: us-central1
  
  # Nombres de Artifact Registry
  REPO_NAME: website
  IMAGE_NAME: website

  # Nombre del servicio en Cloud Run
  SERVICE_NAME: deploy-website

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Google Auth
        id: auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      # Construir y subir imagen (Build)
      - name: Build and Push Container
        run: |
          gcloud builds submit --tag ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}:latest .

      # Desplegar servicio (Deploy)
      - name: Deploy to Cloud Run
        uses: google-github-actions/deploy-cloudrun@v2
        with:
          service: ${{ env.SERVICE_NAME }}
          region: ${{ env.REGION }}
          image: ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}:latest
          # Configuración Low-Cost
          flags: '--allow-unauthenticated --memory=512Mi --cpu=1 --max-instances=2 --min-instances=0'